{erl_opts, [debug_info, fail_on_warning]}.
{erl_opts, [{parse_transform, lager_transform}]}.

{cover_enabled, true}.

{deps, [{protobuffs, ".*", {git, "git://github.com/basho/erlang_protobuffs", {branch, "master"}}},
        {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}}]}.

